<div class="identity-form">
    <div class="identity-content-container mb-3">
        <h1>Forgot password</h1>
        <p>Don't worry, let we help you. Enter your account's email to verify.</p>
    </div>
    <div>
        <form [formGroup]="forgotPasswordForm" id="login-form" action="" method="post" (ngSubmit)="onFormSubmit()" autocomplete="disabled">
            
            <!-- Email input start -->
            <label class="app-label mt-2" for="email">
                <span class="material-symbols-outlined me-1">email</span>
                <input autocomplete="off" type="email" class="app-label-input" placeholder="Enter your email..." formControlName="email" id="email" />
            </label>
            <div class="error-messaeges" *ngIf="forgotPasswordForm.get('email').invalid">
                <p class="error-messaege" *ngIf="forgotPasswordForm.get('email').errors['maxlength']!">
                    The required max length of email is {{forgotPasswordForm.get('email').errors['maxlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="forgotPasswordForm.get('email').errors['minlength']!">
                    The required min length of email is {{forgotPasswordForm.get('email').errors['minlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="forgotPasswordForm.get('email').errors['required']!">
                    Email is required.
                </p>
                <p class="error-messaege" *ngIf="forgotPasswordForm.get('email').errors['pattern']!">The email is invalid.</p>
            </div>
            <!-- Email input end -->

            <p class="mt-3">I remember something. Back to <a [routerLink]="'/identity/login'">log-in</a>.</p>
            <button class="app-btn app-btn-outline-bg-white mt-2" type="submit">Check my e-mail</button>
        </form>
    </div>
</div>