<div class="identity-form">
    <div class="identity-content-container mb-3">
        <h1>Log-in</h1>
        <p>Welcome back, my friend!</p>
    </div>
    <div>
        <form [formGroup]="loginForm" id="login-form" action="" method="post" (ngSubmit)="onFormSubmit()" autocomplete="disabled">
            <label class="app-label" for="username">
                <span class="material-symbols-outlined me-1">person</span>
                <input type="text" class="app-label-input" placeholder="Enter your username..." formControlName="username" id="username" />
            </label>
            <div class="error-messaeges" *ngIf="loginForm.get('username').invalid">
                <p class="error-messaege" *ngIf="loginForm.get('username').errors['maxlength']!">
                    The required max length of username is {{loginForm.get('username').errors['maxlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="loginForm.get('username').errors['minlength']!">
                    The required min length of username is {{loginForm.get('username').errors['minlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="loginForm.get('username').errors['required']!">
                    Username is required.
                </p>
                <p class="error-messaege" *ngIf="loginForm.get('username').errors['pattern']!">Username is invalid.</p>
            </div>
            <label class="app-label mt-2" for="password">
                <span class="material-symbols-outlined me-1">key</span>
                <input type="password" class="app-label-input" placeholder="Enter your password..." formControlName="password" id="password" />
            </label>
            <div class="error-messaeges" *ngIf="loginForm.get('password').invalid">
                <p class="error-messaege" *ngIf="loginForm.get('password').errors['maxlength']!">
                    The required max length of password is {{loginForm.get('password').errors['maxlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="loginForm.get('password').errors['minlength']!">
                    The required min length of password is {{loginForm.get('password').errors['minlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="loginForm.get('password').errors['required']!">
                    Password is required.
                </p>
            </div>
            <p class="mt-3">Forgot password? Click <a [routerLink]="'/identity/forgot-password'">here</a> to reset your password.</p>
            <p class="mt-3">You don't have an account? Register <a [routerLink]="'/identity/register'">here</a>.</p>
            <button class="app-btn app-btn-outline-bg-white mt-2" type="submit">Log-in</button>
        </form>
    </div>
</div>