<div class="identity-form">
    <div class="identity-content-container mb-3">
        <h1>Reset password</h1>
        <p>Almost done and remember your secret!</p>
    </div>
    <div>
        <form [formGroup]="resetPasswordForm" id="login-form" action="" method="post" (ngSubmit)="onFormSubmit()" autocomplete="disabled">

            <!-- Password input start -->
            <label class="app-label mt-2" for="password">
                <span class="material-symbols-outlined me-1">lock_reset</span>
                <input autocomplete="off" type="password" class="app-label-input" placeholder="Enter your new password..." formControlName="password" id="password" />
            </label>
            <div class="error-messaeges" *ngIf="resetPasswordForm.get('password').invalid">
                <p class="error-messaege" *ngIf="resetPasswordForm.get('password').errors['maxlength']!">
                    The required max length of password is {{resetPasswordForm.get('password').errors['maxlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="resetPasswordForm.get('password').errors['minlength']!">
                    The required min length of password is {{resetPasswordForm.get('password').errors['minlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="resetPasswordForm.get('password').errors['required']!">
                    Password is required.
                </p>
            </div>
            <!-- Password input end -->

            <!-- ConfirmPassword input start -->
            <label class="app-label mt-2" for="confirmPassword">
                <span class="material-symbols-outlined me-1">lock</span>
                <input autocomplete="off" type="password" class="app-label-input" placeholder="Confirm your new password again" formControlName="confirmPassword" id="confirmPassword" />
            </label>
            <div class="error-messaeges" *ngIf="resetPasswordForm.invalid">
                <p class="error-messaege" *ngIf="resetPasswordForm.errors?.notEqual && !resetPasswordForm.get('confirmPassword').errors?.required">
                    Incorrect!
                </p>
                <p class="error-messaege" *ngIf="resetPasswordForm.get('confirmPassword').errors?.maxlength">
                    The required max length of confirm password is {{resetPasswordForm.get('confirmPassword').errors['maxlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="resetPasswordForm.get('confirmPassword').errors?.minlength">
                    The required min length of confirm password is {{resetPasswordForm.get('confirmPassword').errors['minlength']!.requiredLength}}.
                </p>
                <p class="error-messaege" *ngIf="resetPasswordForm.get('confirmPassword').errors?.required">
                    You must confirm your password!
                </p>
            </div>
            <!-- ConfirmPassword input end -->

            <button class="app-btn app-btn-outline-bg-white mt-2" type="submit">Change</button>
        </form>
    </div>
</div>